*{
    padding: 0;
    background: #f4f4fd;
}

.Calculator{
    width: 98%;
    background: #C8BEB2;
}

.btn-1, .btn-2, .btn-3, .btn-4{
    border: 1px solid #969696;
}

.btn-clear{
    background: #F6BD6D;
}

.display{
    background: #A5B4A4;
}
